body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.wrapper {
    width: 550px;
    margin: auto;
    margin-top: 200px;
}

section {
    background-color: #222222;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 300;
}

p {
    font-size: 50px;
    font-weight: 200;
}

.button {
    background-color: #323232;
    color: white;
    width: 130px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 50px;
}

.button.-stop {
    margin-left: 30px;
    margin-right: 30px;
}

.button:hover {
    transform: scale(1.1);
}


