@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: #373198;
    color: white;
}

.wrapper {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.button {
    border: .2rem solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    width: 150px;
    height: 50px;
}

.button:hover {
    background-color: white;
    color: #373198;
    text-transform: capitalize;
}